{% extends 'FinanceManager/base.html' %}
{% load static %}
{% block content %}
    
<div class="row">
    <div class="col text-center">
        <h1 class="display-4">Welcome to the Personal Finance Manager</h1>
        <p class="lead">Manage your finances easily and efficiently.</p>
    </div>
</div>
<!-- Transactions Section -->
<div class="col">
    {% if is_authenticated %}
        {% if transactions %}
            {% include "FinanceManager/transactions.html" %}
        {% else %}
            <div class="alert alert-info" role="alert">
                No transactions yet.
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">
            Please log in to view your transactions.
        </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
<script src="{% static 'FinanceManager/base.js' %}"></script>
{% endblock %}
