{% extends "layout.html" %}
{% block title %}MindTrack - Dashboard{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<!-- Pages -->
 <section id="dashboard">
    <div class="card">
      <h1>MindTrack Dashboard</h1>
      <p>Here’s a summary of your past mood check-ins and overall emotional trends.</p>
      <div class="dashboard">
        <div>Average Mood: 🙂</div>
        <div>Mood Summary Chart Placeholder</div>
        <div>Sleep Summary: 7.5 hours avg</div>
      </div>
    </div>
  </section>
{% endblock %}
