{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
<!-- Pages -->
 <section id="resources">
    <div class="card">
      <h1>Resources</h1>
      <p>Crisis Hotlines:</p>
      <ul>
        <li>National Suicide Prevention Lifeline: 1-800-273-TALK (8255)</li>
        <li>988 Suicide & Crisis Lifeline: 988</li>
        <li>Substance Abuse and Mental Health Services Administration (SAMHSA): 1-800-662-4357</li>
      </ul>
      <p>Additional Resources:</p>
      <ul>
        <li>Mental Health America: <a href="https://www.mhanational.org/">https://www.mhanational.org/</a></li>
        <li>National Alliance on Mental Illness: <a href="https://www.nami.org/">https://www.nami.org/</a></li>
      </ul>
    </div>
  </section>

{% endblock %}
{% block content %}
{% endblock %}